@font-face {
    font-family: "avenir";
    src: url("/font/avenir_ff/AvenirLTStd-Roman.otf");
}
.bg-red{
    background-color:#FA2738
}
.bd-sm-gray{
    background-color: #D4CCC4;
}
body{
    font-family:avenir;       
}
.navbar-item a,i{
    color: #7E7E7E;
    font-size: 15px;
    font-weight: 500;
}
#navbarProfileSelect{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: -0.5rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.5rem;
    height: 1rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #EFEFEF;
}
.asibde-left-card{
    border:none;
    background-color: none !important;
    border: none ip !important;
}
.asibde-left-box{
    background-color: white !important;
    border-bottom: none;
}
.asibde-left-box h5, p{
    margin: 0;
    padding:0;
}
.asibde-left-box  p{
    font-size: 10px;
    font-weight: 500;
}
.asibde-left-box  h5{
    font-size: 15px;
    font-weight: 800;
}
.aside-left-address p{
    font-size: 10px;
    font-weight: 500;
}
.aside-left-address i{
    color:#FC2737;
    padding-right: 5px;
}
.aside-left-about p{
    font-size: 10px;
    font-weight: 500;
}
.aside-left-about {
    padding-top: 0;
}
.aside-left-contact{
    border:none !important;
}
.aside-left-contact i{
    color:#FC2737;
    font-size: 1.3rem;
}
.aside-left-contact h5{
    margin-left: -8px;
    font-size: 15px;
}
.aside-left-contact p{
    font-weight: 600;
}
.asibe-left-manage{
    border:none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.asibe-left-manage ul li{
    border-bottom: none;
    cursor: pointer;
}
.asibe-left-manage .card-header{
    padding:15px;
    font-size: 1.2rem;
    font-weight: 700;
}
.asibe-left-manage li{
    font-weight: 500;
}
.coyright-section{
    font-weight: 400;
    font-size: 14px;
}
.coyright-section span{
    cursor: pointer;
    padding-right:5px;
}

.aside-right-people .btn-main{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.aside-right-people ul h6{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
}

.aside-right-people ul  p{
    font-size: 8px;
    color:#C4C4C4
} 
.aside-right-people  button{
    width: 80px !important;
    height: 30px !important;
    font-size: 10px;
} 
.aside-right-news ul li{
    border-bottom: 1px solid #C4C4C4;
} 
.aside-right-news ul li span ,p{
    color:#C4C4C4;
    font-size: 10px;
}
.aside-right-news ul li span{
    font-size: 8px;
}
.main-post p{
    font-size: 12px;
    color: black;
}
.main-post .min{
    margin-top: -1rem;
    margin-right: 5px;
}
.write-post  h5{
    font-size: 1rem;
    margin-top: 5px;
}
.write-post i{
    color:#FA2738;
}
.offer-temp-head h2{
    font-weight: 800;
}
.offer-temp-price-gray{
    color:gray;
}

.offer-temp-head .desc{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    color:#3D9676;
    background-color: #47C7991A;
}
.expense h6{
    font-size: 0.6rem;
}
.expense h5{
    font-size: 0.8rem;
    padding:0;
}
.three-dot h1{
    cursor: pointer;
    font-size: 3rem;
    margin-top: -3rem;
    text-align: center;
}
.three-dot span{
    color:gray;
}
.like-image img{
    height: 24px;
    width: 24px;
}
.like-image img:nth-child(2){
    margin-left: -14px;
} 
.like-image img:nth-child(3){
    margin-left: -14px;
} 
.post-action .item{
    margin: 8px 10px;
    cursor: pointer;
    color: black;
}
.header-mobile-devices{
    box-shadow: 0 2px 5px -2px gray;
    display: none;
}
@media only screen and (max-width:600px){
    .offer-section{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .offer-section img{
        position: relative;
        top:-200px;
    }
    .offer-temp-desc{
        position: relative;
        top:15rem;
    }
    .offer-section button{
        position: relative;
        top: 15rem;
    }
    .container-div{
        position: relative;
    }
    .offer-section-top{
        position: absolute;
        top: 10rem;
    }
    .post-section{
        top: -10rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 10px;
    }
    header .navbar{
        box-shadow: none;
    }
    .header-mobile-devices{
        display: block;
    }
    header .navbar-nav li a{
        margin-left: 8px;
    }
}