@font-face {
    font-family: avenir;
    src: url("/font/avenir_ff/AvenirLTStd-Book.otf");
}
.bg-red{
    background-color:#FA2738
}
.bd-sm-gray{
    background-color: #D4CCC4;
}
body{
    font-family:avenir !important;       
}
.navbar-item a{
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 600;
}
.navbar-item img{
    width: 15px;
    height: 15px;
}
#navbarProfileSelect{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: -0.8rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.15rem;
    height: 1rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #EFEFEF;
}
.asibde-left-card{
    border:none;
    background-color: none !important;
    border: none !important;
}
.asibde-left-box{
    background-color: white !important;
    border-bottom: none;
}
.asibde-left-box h3, p{
    margin: 0;
    padding:0;
}
.asibde-left-box  p{
    font-size: 10px;
    font-weight: 500;
}
.left-title h3{
    font-size: 18px;
    font-weight: 900;
}
.aside-left-address p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}
.aside-left-address img{
    padding-right: 5px;
}
.aside-left-about h3{
    font-size: 18px;
    font-weight: 900;
}
.aside-left-about p{
    color:#282828;
    font-size: 10px;
    font-weight: 600;
}
.aside-left-about {
    padding-top: 0;
}
.aside-left-contact{
    border:none !important;
}
.aside-left-contact h5{
    margin-left: -8px;
    font-size: 14px;
}
.aside-left-contact h4{
    font-size: 14px;
    font-weight: 900;
    margin-left: 5px;
    margin-top: 5px;
}
.asibe-left-manage{
    border:none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.asibe-left-manage ul li{
    border-bottom: none;
    cursor: pointer;
}
.asibe-left-manage .card-header{
    padding:15px;
    font-size: 1.2rem;
    font-weight: 700;
}
.asibe-left-manage li{
    font-weight: 500;
}
.coyright-section{
    font-weight: 400;
    font-size: 14px;
}
.coyright-section span{
    cursor: pointer;
    padding-right:5px;
}

.aside-right-people .btn-main{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.aside-right-people ul h6{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
}

.aside-right-people ul  p{
    font-size: 8px;
    color:#C4C4C4
} 
.aside-right-people  button{
    width: 80px !important;
    height: 30px !important;
    font-size: 10px;
} 
.aside-right-news ul li{
    border-bottom: 1px solid #C4C4C4;
} 
.aside-right-news ul li span ,p{
    color:#C4C4C4;
    font-size: 10px;
}
.aside-right-news ul li span{
    font-size: 8px;
}
.main-post p{
    font-size: 12px;
    color: black;
}
.main-post .min{
    margin-top: -1rem;
    margin-right: 5px;
}
.write-post  h5{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    margin-left: 4px;
}
.offer-temp-head h2{
    font-weight: 800;
}
.offer-temp-price-gray{
    color:gray;
}

.offer-temp-head .desc{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    color:#3D9676;
    background-color: #47C7991A;
}
.expense h6{
    font-size: 0.6rem;
}
.expense h5{
    font-size: 0.8rem;
    padding:0;
}
.three-dot h1{
    cursor: pointer;
    font-size: 3rem;
    margin-top: -3rem;
    text-align: center;
}
.three-dot span{
    color:gray;
}
.like-image img{
    height: 24px;
    width: 24px;
}
.like-image img:nth-child(2){
    margin-left: -14px;
} 
.like-image img:nth-child(3){
    margin-left: -14px;
} 
.post-action .item{
    margin: 8px 10px;
    cursor: pointer;
    color: black;
}
.post-action span{
    font-size: 12px;
}
.header-mobile-devices{
    box-shadow: 0 2px 5px -2px gray;
}
header{
    box-shadow: 0 2px 10px -2px gray
}
nav ul> li > a> i{
    font-size: 1.2rem;
}
.offer-img-section{
    height: 207px !important;
    width: 267px !important;
}
@media only screen and (max-width:576px){
    .offer-section{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .offer-img-section{
        height: 100% !important;
        width: 100% !important;
    }
    .offer-section img{
        position: relative;
        top:-220px;
        width: 100%;
        height: 100%;
    } 
    .offer-temp-desc{
        position: relative;
        top:8rem;
    }
    .offer-section button{
        position: relative;
        top: 9rem;
    }
    .container-div{
        position: relative;
    }
    .offer-section-top{
        position: absolute;
        top: 10rem;
    }
    .post-section{
        top: -10.4rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 10px;
    }
    header{
        box-shadow: none
    }
}



