@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif !important;  
}
/* font size
............................................... */
body p,h3,h4,h5{
    padding: 0;
    margin: 0;
}
h3{
    font-size: 18px;
    font-weight: 600;
}
h4{
    font-size: 14px;
    font-weight: 700;
}
h5{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 10px;
    font-weight: 400;
}
/* sidebar ............................. */
.coyright-section h6{
    font-size: 13px;
    font-weight: 500;
}
.coyright-section span{
    font-size: 11px;
    font-weight: 500;
}
.list-group-item-action span{
    font-size: 12px;
    font-weight: 500;
}
.aside-newsfeed  li > h6{
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.aside-newsfeed li > span{
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 9px;
}
.aside-newsfeed p{
    color: #a5a5a5 !important;
}
.asibde-left-box{
    background-color: transparent !important;
    border-bottom: none;
}
.card-header{
    background-color: #EFEFEF;
    border-bottom:none;
    border: none;
    border-top: none;
}
.aside-left-about{
    margin-top: -14px;
}
.list-group li{
    cursor: pointer;
    border-bottom: none;
}
.aside-right-people , .btn-main{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.aside-right-people  button{
    font-size: 11px;
    width: 60px;
    height: 30px;
}
/* main content section 
................................................... */
.write-post  h5{
    font-weight: 400;
    margin-left: 5px;
}
.has-search .form-control {
    padding-left: 3.5rem;
    border-radius: 20px;
    max-width: 200px;
}
.post-section .has-search .form-control {
    max-width: 100%;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    margin-top: 3px;
    display: block;
    width: 3.5rem;
    height: 1.5rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #EFEFEF;
}

.offer-temp-head h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #282828;
}
.offer-temp-head sup{
    vertical-align: super;
    font-size: small;
    margin-right: -5px;
}
.offer-price-gray{
    color:gray;
} 
.offer-temp-head .desc{
    font-size: 13px;
    padding: 5px;
    font-weight: 400;
    color:#3D9676;
    background-color: #47C7991A;
}

.post-section input[placeholder]{
    font-size: 14px;
}
.like-image img{
    height: 20px;
    width: 20px;
} 
.like-image img:nth-child(2){
    margin-left: -14px;
} 
.like-image img:nth-child(3){
    margin-left: -14px;
} 
.post-action .item, .item > p{
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
header,  .header-mobile-devices {
    box-shadow: 0 2px 5px -2px gray;
}
.offer-img-section{
    height: 207px !important;
    width: 267px !important;
}
.navbar-nav .navbar-item a{
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 400;
    margin-left: -5px;
}
#navbarProfileSelect{
    border: none;
    outline: none;
    background-color: transparent;
}
.offer-section img{
    min-width: 160px;
    height: 300px;
}
 
/* main content end 
............................................................. */

@media only screen and (max-width:990px){
    .navbar-nav .navbar-item a{
        margin-left: 10px;
    }
    .has-search .form-control {
        max-width: 200px;
    }
} 
@media only screen and (min-width:600px){ 
    .offer-section img{
        min-height: 260px;
    }
}   
@media only screen and (max-width:600px){
    header {
    box-shadow: none;
    } 
    .container-div{
        position: relative;
    }
    .offer-section{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .offer-section img{
        position: relative;
        top:-14.8rem;
        width: 100%;
        max-height: 140px;
    } 
    .offer-temp-desc{
        position: relative;
        top:7rem !important;
        width: 100%;
    }
    .offer-section button{
        position: relative;
        top: 7rem !important;
        width: 100%;
    }
    .offer-section-top{
        position: absolute;
        top: 10.5rem;
    }
    .post-section{
        top: -11rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 10px;
    } 
}














